@import "../../assets/style";

.about {
  width: 97.5%;
  height: 80vh;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-phone-only {
    width: 100%;
    height: auto;
    position: relative;
    margin-top:5rem;
  }
}
.about__container {
  border: 4px solid $colorWhite;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  @include for-phone-only {
    flex-direction: column;
  }
  @include for-deviceLittleHeight {
    margin-top: 2rem;
  }
}

.about__presentation {
  width: 50%;
  overflow-y: auto;
  @include for-phone-only {
    width: 100%;
    border-right: none;
    overflow-y: auto;
  }
  @include for-deviceLittleHeight {
    overflow-y: auto;
  }

  overflow-x: hidden;
  min-height: 100%;
  padding: 1rem;
  border-right: 4px solid $colorWhite;
  color: $colorWhite;
  position: relative;
  overflow: hidden;
  &__container {
    width: 100%;
    min-height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  &__hello {
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    &__line {
      content: "";
      height: 3px;
      width: 90px;
      display: block;
      background-color: $colorAlpha;
      transform: translateY(0.8rem);
    }

  }
  &__diploma {
    animation: 3.5s ease-in-out logoAnimedLeft;
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: space-around;
  }
  &__linkedin {
    color: $colorAlpha;
    font-size: 1.4rem;
  }
}
.card__diploma {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: $colorAlpha;
  text-decoration: underline;
}
.card__diploma > span {
  font-size: 1rem;
  color: $colorWhite;
}
.about__logo {
  @include for-phone-only {

    width: 100%;
  }
  
  overflow-x: hidden;
  color: $colorWhite;
  padding: 1rem;
  width: 50%;
  min-height: 100%;
  background-color: $background;
  
}
.about__logo__container {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  @include for-phone-only {
    width: 100%;
    align-items: center;
  }

  &__image1 {
    font-size: 5rem;
    color: $colorAlpha;
    padding: 1rem;
    animation: 1.5s linear logoAnimedLeft;
    text-align: center;
  }
  &__image2 {
    font-size: 5rem;
    color: $colorAlpha;
    padding: 1rem;
    animation: 1.5s linear logoAnimedRight;
    text-align: center;
  }
  &__column {
    margin-top: 1rem;
    @include for-phone-only {
      width: 50%;
      justify-content: center;
      align-items: center;
    }
  }
}

.wrapper__customButton__about{
width: 100%;
display: flex;
padding: 0rem 1.5rem;
justify-content: flex-end;
}
.about__presentation__text p {
  text-align: justify;
}



@keyframes logoAnimedLeft {
  0% {
    transform: translate(-300%);
  }
  100% {
    transform: translate(0rem);
  }
}
@keyframes logoAnimedRight {
  0% {
    transform: translate(300%);
  }
  100% {
    transform: translate(0rem);
  }
}
