@import "../../assets/style";
.canvasParticles {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2rem;
    z-index: -1;
  }
  .tsparticles {
    z-index: -1;
    width: 100%;
    height: 100%;
  }