@import url("https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap");
@mixin for-phone-only {
  @media (max-width: 800px) {
    @content;
  }
}
@mixin for-card {
  @media (max-width: 1030px) {
    @content;
  }
}
@mixin for-tablette {
  @media (max-width: 900px) {
    @content;
  }
}
$fontVampiro: "Vampiro One", cursive;
$background: #060b26;
$colorAlpha: #f18805;
$colorBeta:#c03221;
$colorOmega: #1a83ff;

// $background: #060b26;
// $colorAlpha: #ff0000;
// $colorBeta: #f7b801;
// $colorOmega: #1a83ff;



